/* Import fonts from the Google Fonts API */
@import url(https://fonts.googleapis.com/css?family=Montserrat); 	/* Logo font */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans); 	/* Body font */
@import url(https://fonts.googleapis.com/css?family=Roboto);		/* Button font */

:root {
	--colour-fill-header: #FFFFFF;
	--colour-fill-body: #EEEEEE;

	--font-family-heading: "Noto Sans", serif;	/* Font family for all h1, h2, h3... h6 elements */
	--font-family-logo: "Montserrat", serif;	/* Font family for logo element */
	--font-family-body: "Noto Sans", sans-serif; /* Font family for all body text elements */
	--font-family-button: "Roboto", sans-serif;	/* Font family for button elements */

	--colour-font-logo: #A6AEB0;
	--colour-font-heading: #161922;	/* Font colour for all h1, h2, h3... h6 elements */
	--colour-font-body: #A3A5A8; /* Font colour for all body text elements */

	--colour-border-button-positive: #2ECC71;	/* Colour for all "positive" interaction buttons */
	--colour-fill-button-positive: #2ECC71;	/* Colour for all "positive" interaction buttons */
	--colour-border-button-positive-hover: #27AE60;	/* Colour for all "positive" interaction buttons */
	--colour-fill-button-positive-hover: #27AE60;	/* Colour for all "positive" interaction buttons */

	--colour-font-button-positive: #FFFFFF;

	--colour-border-button-default: #009EFF; /* Border colour for all "default" interaction buttons */
	--colour-fill-button-default: #FFFFFF; /* Fill colour for all "default" interaction buttons */
	--colour-font-button-default: #161922; /* Font colour for all "default" interaction buttons */

	--colour-border-button-negative: #E74C3C; /* Border colour for all "negative" interaction buttons */
	--colour-fill-button-negative: #FFFFFF; /* Fill colour for all "negative" interaction buttons */
}

* {
	margin: 0;
	padding: 0;
}

body {
	background: var(--colour-fill-body);
	font-family: var(--font-family-body);
}

header {
	background: var(--colour-fill-header);

	display: flex;
	justify-content: space-evenly;
}

header > * {
	margin: auto 0;
}

button {
	font-family: var(--font-family-button);
}



h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-family-heading);
	color: var(--colour-font-heading);
	padding-bottom: 1em;
}

header h1 {
	font-family: var(--font-family-logo);
	font-weight: bold;
	color: var(--colour-font-logo);
	padding: 0.5em;
}

header label {
	display: flex;
}

header label img {
	width: 1.5em;
	height: 1.5em;
	margin: auto;
}

main {
	margin: 5vh 5vw;
}

.btn--positive {
	background: var(--colour-fill-button-positive);
	border: 3px solid var(--colour-border-button-positive);
	color: var(--colour-font-button-positive);
	font-weight: bolder;
	font-size: 100%;
	text-transform: uppercase;
	border-radius: 13px;
	cursor: pointer;
	padding: 1em 3em;

	box-shadow: rgba(0, 0, 0, 0.13) 0 3px 6px;
}

.btn--positive:hover {
	background: var(--colour-fill-button-positive-hover);
	border: 3px solid var(--colour-border-button-positive-hover);
}

.btn--default {
	background: var(--colour-fill-button-default);
	border: 3px solid var(--colour-border-button-default);
	color: var(--colour-font-button-default);
	font-weight: bolder;
	font-size: 100%;
	text-transform: uppercase;
	border-radius: 13px;
	cursor: pointer;
	padding: 0.5em 2em;

	box-shadow: rgba(0, 0, 0, 0.13) 0 3px 6px;
}

.card {
	width: 100%;
	padding: 1em;
	border-radius: 33px;
	box-shadow: rgba(255, 255, 255, 0.5) -6px -6px 6px,
				rgba(158, 158, 158, 0.5) 6px 6px 6px;
}

.slider {
	-webkit-appearance: none;
	width: 90%;
	height: 15px;
	border-radius: 20px;
	background: var(--colour-font-button-positive);
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: var(--colour-fill-button-positive);
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
}

.textarea {
	width: 90%;
	height: 150px;
	padding: 20px 10px 20px 10px;
	margin: auto;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
}

.card-text-area {
	width: 100%;
	padding: 1em;
	border-radius: 33px;
}


.view-more-buttons {
	display: flex;
	justify-content: center;
}

#div-profile-status {
	font-weight: bolder;

	display: flex;
	padding: 0.5em;

	cursor: pointer;
}

#img-profile-status-icon {
	width: 3em;
	height: 3em;
	margin: auto 0.25em;
}

#username-profile-status {
	margin: auto 0.25em;
}

#img-profile-status-chevron {
	width: 1em;
	height: 1em;
	margin: auto 0.25em;
}

#search {
	font-family: "Noto Sans", sans-serif;
	padding: 0.5em;
	width: 30vw;

	border: 0;
	border-bottom: 1px solid #707070;
}

#search:focus {
	outline: 0;
	border-bottom: 1px solid var(--colour-border-button-default);
	transition-duration: 0.1s;
}

#profile-a-link {
	text-decoration: none;
	color: var(--colour-font-heading);
}

#profile {
	display: grid;
	grid-template-rows: 1fr 4fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "header header"
						 "reviews searches";
}

#profile-header {
	grid-area: header;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;

	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid #707070;
}

#profile-header h2 {
	padding: 0;
}

.page-header-content {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
}

#profile-header-icon {
	margin: auto;
}

#profile-header-info-section {
	display: flex;
	flex-direction: column;
	margin: auto 1em;
}

#profile-header-buttons {
	margin: auto;
}

#profile-reviews {
	grid-area: reviews;
	padding: 0 2em;
}

#profile-searches {
	grid-area: searches;
	padding: 0 2em;
}

#create-review-form {
	width: 80%;
	margin:auto;
	padding: 10px 10px 10px 10px;
	border-radius: 33px;
	box-shadow: rgba(255, 255, 255, 0.5) -6px -6px 6px,
	rgba(158, 158, 158, 0.5) 6px 6px 6px;
}

#create-review-form fieldset {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	padding: 10px 10px 10px 10px;
	margin:auto;
	border: none;
}

#create-review-form fieldset legend {
	display: flex;
	flex-direction: column;
	font-style: normal;
	color: var(--colour-font-heading);
	font-weight: bold;
	padding: 10px 10px 10px 10px;
	text-align: left;
}

#degree {
	display: grid;
	grid-template-rows: 0fr 2.5fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"courseName overallRating"
		"entryRequirements rating"
		"about review";
}

#university {
	display: grid;
	grid-template-rows: 0fr 2.5fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"uni-name overallRating"
		"info rating"
		"accommodation review";
}

#course-name {
	grid-area: courseName;
	padding: 0 2em;
}

#course-overall-rating {
	grid-area: overallRating;
	padding: 0 2em;
}

#course-requirements{
	grid-area: entryRequirements;
	padding: 0 2em;
}

#course-rating {
	grid-area: rating;
	padding: 0em 2em;
}

#course-about {
	grid-area: about;
	padding: 0 2em;
}

#course-review {
	grid-area: review;
	padding: 0 2em;
}

#university-accommodation {
	grid-area: accommodation;
	padding: 0 2em;
}

#university-info {
	grid-area: info;
	padding: 0 2em;
}

#course-university-name {
	font-family: var(--font-family-body);
	opacity: 60%;
	padding-top: 0em;
	padding-bottom: 0em;
}

#degree-name {
	padding-bottom: 0em;
}

#university-name {
	grid-area: uni-name;
	padding: 0 2em;
}

#university-dropdown {
	width: 80%;
}

.header-form-aside {
	display: grid;
	grid-template-rows: 1fr 4fr;
	grid-template-columns: 2fr 3fr;
	grid-template-areas: "header header"
						"form info";
}

.page-header {
	grid-area: header;
}

.compact-form {
	grid-area: form;

	display: flex;
	flex-direction: column;

	padding: 1em;
	border-right: 1px solid #707070;
}

#btn-create-account, #btn-log-in {
	margin: 1em 0;
}

.compact-form > label {
	display: flex;
	flex-direction: column;
}

.compact-form > label > em {
	font-style: normal;
	color: var(--colour-font-heading);
	font-weight: bold;
}

.compact-form input {
	font-family: "Noto Sans", sans-serif;
	padding: 0.5em;
	width: 30vw;

	border: 1px solid #707070;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.compact-form aside {
	font-size: 75%;
}

.aside-info {
	grid-area: info;
	padding: 1em;
}

@media (max-width: 850px) {
	#username-profile-status {
		display: none;
	}
}

@media (max-width: 790px) {
	header {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 4em 1fr 1fr;

		grid-template-areas: "logo profile"
							 "search search"
							 "review review";
	}

	header h1 {
		grid-area: logo;
	}

	label {
		grid-area: search;
	}

	#search {
		width: calc(100vw - 6em);
		margin-right: 1em;
	}

	#div-profile-status {
		grid-area: profile;
		width: fit-content;
		margin: 0 0 0 30vw;
	}

	#div-profile-status > * {
		justify-content: right;
	}

	#btn-writereview {
		grid-area: review;
		margin: 5px;
	}

	.header-form-aside {
		display: flex;
		flex-direction: column;
	}

	.compact-form {
		border-right: none;
	}

	.compact-form input {
		width: 100%;
	}

	.compact-form button {
		margin-left: 1em;
	}
}
