/* Import fonts from the Google Fonts API */
@import url(https://fonts.googleapis.com/css?family=Montserrat); 	/* Logo font */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans); 	/* Body font */
@import url(https://fonts.googleapis.com/css?family=Roboto);		/* Button font */

:root {
	--colour-fill-header: #FFFFFF;
	--colour-fill-body: #EEEEEE;

	--font-family-heading: "Noto Sans", serif;	/* Font family for all h1, h2, h3... h6 elements */
	--font-family-logo: "Montserrat", serif;	/* Font family for logo element */
	--font-family-body: "Noto Sans", sans-serif; /* Font family for all body text elements */
	--font-family-button: "Roboto", sans-serif;	/* Font family for button elements */

	--colour-font-logo: #A6AEB0;
	--colour-font-heading: #161922;	/* Font colour for all h1, h2, h3... h6 elements */
	--colour-font-body: #A3A5A8; /* Font colour for all body text elements */

	--colour-border-button-positive: #2ECC71;	/* Colour for all "positive" interaction buttons */
	--colour-fill-button-positive: #2ECC71;	/* Colour for all "positive" interaction buttons */
	--colour-border-button-positive-hover: #27AE60;	/* Colour for all "positive" interaction buttons */
	--colour-fill-button-positive-hover: #27AE60;	/* Colour for all "positive" interaction buttons */

	--colour-font-button-positive: #FFFFFF;

	--colour-border-button-default: #009EFF; /* Border colour for all "default" interaction buttons */
	--colour-fill-button-default: #FFFFFF; /* Fill colour for all "default" interaction buttons */
	--colour-font-button-default: #161922; /* Font colour for all "default" interaction buttons */

	--colour-border-button-negative: #E74C3C; /* Border colour for all "negative" interaction buttons */
	--colour-fill-button-negative: #FFFFFF; /* Fill colour for all "negative" interaction buttons */
}

/* Global styling */

* {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-family-heading);
	color: var(--colour-font-heading);
}

body {
	background: var(--colour-fill-body);
	font-family: var(--font-family-body);
}

button {
	font-family: var(--font-family-button);
}

main {
	margin: 5vmin 5vmin;
}

.btn--default {
	background: var(--colour-fill-button-default);
	border: 3px solid var(--colour-border-button-default);
	color: var(--colour-font-button-default);
	font-weight: bolder;
	font-size: 100%;
	text-transform: uppercase;
	border-radius: 13px;
	cursor: pointer;
	padding: 0.5em 2em;

	box-shadow: rgba(0, 0, 0, 0.13) 0 3px 6px;
}

.btn--negative {
	background: var(--colour-fill-button-negative);
	border: 3px solid var(--colour-border-button-negative);
	color: var(--colour-font-button-default);
	font-weight: bolder;
	font-size: 100%;
	text-transform: uppercase;
	border-radius: 13px;
	cursor: pointer;
	padding: 0.5em 2em;

	box-shadow: rgba(0, 0, 0, 0.13) 0 3px 6px;
}

.btn--positive {
	 background: var(--colour-fill-button-positive);
	 border: 3px solid var(--colour-border-button-positive);
	 color: var(--colour-font-button-positive);
	 font-weight: bolder;
	 font-size: 100%;
	 text-transform: uppercase;
	 border-radius: 13px;
	 cursor: pointer;
	 padding: 1em 3em;

	 box-shadow: rgba(0, 0, 0, 0.13) 0 3px 6px;
 }

.btn--positive:hover {
	background: var(--colour-fill-button-positive-hover);
	border: 3px solid var(--colour-border-button-positive-hover);
}

.card, .review-card {
	padding: 1em;
	border-radius: 33px;
	box-shadow: rgba(255, 255, 255, 0.5) -6px -6px 6px,
	rgba(158, 158, 158, 0.5) 6px 6px 6px;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 20px;
	background: var(--colour-font-button-positive);
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: var(--colour-fill-button-positive);
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
}

.textarea {	/* TODO: generify, does this need to be a class? */
	width: 100%;
	height: 150px;
	padding: 20px 10px 20px 10px;
	margin: auto;
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
	font-family: --font-family-body, sans-serif;
}
/* Grid page layouts */

.header-header-left-right {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas: "header header"
						 "left right";
}

.header-header-left-right > header {
	grid-area: header;

	display: flex;
	align-items: center;
}

.header-header-left-right > header > * {
	margin: 0 1em;
}

.header-header-left-right > #left {
	grid-area: left;
}

.header-header-left-right > #right {
	grid-area: right;
}

.header-header-left-right > #left, .header-header-left-right > #right {
	padding: 1em 5em;
}

.icon-form {
	display: grid;
	grid-template-columns: 2em auto;
	grid-template-rows: repeat(auto-fill, 2em);

	row-gap: 1em;
	column-gap: 0.5em;
}

.icon-form button, .icon-form aside {
	grid-column: span 2;
	place-self: center;
}

.icon-form input {
	font-family: var(--font-family-body);
}

.icon-form > .error {
	grid-column: span 2;
	color: #E74C3C;
}

.card-stack {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(auto-fill, 1fr);
	row-gap: 2em;
}

.grid-layout {
	display: grid;
	grid-template-rows: 0fr 2fr 1fr;
	grid-template-columns: 1fr 1fr;
}

#university > .grid-layout {
	grid-template-rows: 0fr 2fr 0.25fr;
}

#degree > .grid-layout {
	grid-template-rows: 0fr 2fr 0.25fr;
}
/* Header styling */

body > header {
	display: grid;

	grid-template-columns: auto 1fr auto auto;
	grid-template-rows: auto;
	grid-template-areas: "logo search button profile";

	background: var(--colour-fill-header);
}

body > header > * {
	align-self: center;
}

body > header h1 {
	grid-area: logo;

	font-family: var(--font-family-logo);
	font-weight: 900;
	color: var(--colour-font-logo);

	padding: 0.5em 1em;
}

body > header a {
	text-decoration: none;
}

#a-writereview {
	grid-area: button;

	justify-self: center;
}

#profile-a-link {
	grid-area: profile;

	display: grid;
	grid-template-columns: 3.5em auto auto;
	grid-template-rows: auto;
	padding: 0.5em 1em;

	text-decoration: none;
	font-weight: bold;
	color: var(--colour-font-heading);
}

#profile-a-link > * {
	align-self: center;
}

#img-profile-status-icon {
	width: 3.5em;
}

#username-profile-status {
	padding: 0 0.5em;
}

#container-search {
	grid-area: search;

	display: grid;
	grid-template-columns: 1.5em auto;
	grid-template-rows: auto;
}

#container-search img {
	width: 1.5em;
}

#input-search {
	font-family: "Noto Sans", sans-serif;

	margin: 0 0.5em;

	border: 0;
	border-bottom: 1px solid #707070;
}

#input-search:focus {
	outline: 0;
	border-bottom: 1px solid var(--colour-border-button-default);
	transition-duration: 0.1s;
}

/* Create review styling */

#create-review-form {
	width: 80%;
	margin: auto;
	padding: 0.625em 0.625em 0.625em 0.625em;
	border-radius: 33px;
	box-shadow: rgba(255, 255, 255, 0.5) -6px -6px 6px,
	rgba(158, 158, 158, 0.5) 6px 6px 6px;
}

#create-review-form fieldset {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	padding: 0.625em 0em 0.625em 0em;
	margin: auto;
	border: none;
}

#create-review-form div legend {
	display: flex;
	flex-direction: column;
	font-style: normal;
	color: var(--colour-font-heading);
	font-weight: bold;
	text-align: left;
	padding: 0.625em 0.625em 0.625em 0.625em;
	margin:auto;
	border: none;
}

#submit-review {
	margin: 10px;
}

/* Degree info styling */
#degree {
	grid-template-areas:
		"name overallRating"
		"entryRequirements rating";
}

#degree-name {
	padding: 0 2em;
}

#degree-overallRating {
	padding: 0 2em;
}

#degree-info {
	padding: 0 2em;
}

#degree-rating {
	padding: 0em 2em;
}

#degree-about {
	padding: 0 2em;
}

#degree-review {
	padding: 0 2em;
}

/* Profile styling */
#profile {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	grid-template-areas: "header header"
	"reviews searches";

	grid-column-gap: 3em;
	grid-row-gap: 1em;
}

#profile-header {
	grid-area: header;

	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr;

	align-items: center;
}

#profile-header-content {
	justify-self: left;

	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto auto;

	column-gap: 1em;

	align-items: center;
}

#profile-header-buttons {
	justify-self: right;
}

#profile-reviews {
	grid-area: reviews;
}

#profile-searches {
	grid-area: searches;
}

#profile-reviews h3, #profile-searches h3 {
	padding-bottom: 1em;
}

/* University info styling */

#reviews {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.review-template {
	width: 90%;
	padding: 0 2em;
}

#review-box {
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.review-card {
 width: 90%;
}

#university {

	grid-template-areas:
		"name overallRating"
		"info rating";

}

#university-name {
	padding:0 2em;
}

#degree-overallRating {
	padding: 0 2em;
}

#university-info {
	padding: 0 2em;
}

#university-average-rating {
	padding:0 2em;
}

.divider {
	border-bottom: 1px solid #707070;
	padding: 0 2em;
	margin-top: 15px;
	margin-bottom: 15px;
}
/* Search result page styling */
.filters-search {
	display: grid;
	grid-template-columns: 2fr 9fr;
	grid-template-rows: auto;

	grid-column-gap: 4em;
}

#results {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-auto-rows: auto auto;

	grid-template-areas: "info label select"
						 "results results results";

	align-items: center;
}

#results h2 {
	grid-area: info;
}

#results label {
	grid-area: label;
	color: var(--colour-font-heading);
	font-weight: bold;
	justify-self: end;
	margin-right: 1em;
}

#results select {
	grid-area: select;
}

#results-container {
	grid-area: results;
	height: 73vh;

	list-style: none;

	margin-top: 1em;

	display: grid;
	grid-auto-columns: 100%;
	grid-auto-rows: 2em;

	row-gap: 2em;

	overflow-y: scroll;
}

#results-container li {
	display: grid;
	grid-template-columns: auto auto auto 5em;
	grid-template-rows: auto;

	align-items: center; /* vertical center */

	padding: 0.7em 0;

	margin-right: 0.5em;
	height: 100%;

	border-bottom: 1px solid darkgrey;
	border-collapse: collapse;

	transition: background 0.2s linear;
}

#results-container li:hover {
	background: rgba(0, 0, 0, 0.3);
	transition: background 0.05s linear;
}

#results-container li button {
	padding: 0.5em 0;
}

.result-main {
	color: var(--colour-font-heading);
	font-weight: bold;
}

/* Media queries */

@media screen and (max-width: 900px) {
	body > header {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto;
		grid-template-areas: "logo button profile"
		"search search search";

		background: var(--colour-fill-header);
	}

	#container-search {
		padding: 1em;
	}

	#username-profile-status {
		display: none;
	}

	#img-profile-status-icon {
		justify-self: end;
	}

	#profile-a-link {
		grid-template-columns: auto auto;
	}

	.header-header-left-right {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr 1fr;
		grid-template-areas: "header"
							 "left"
							 "right";
	}

	.header-header-left-right > #left, .header-header-left-right > #right {
		padding: 1em 0;
	}

	#profile {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr 1fr;
		grid-template-areas: "header"
		"reviews"
		"searches";
		grid-row-gap: 1em;
	}

	#profile-header {
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: 1fr;

		row-gap: 1em;
	}

	#profile-header-icon {
		width: 5em;
	}

	#profile-header-content, #profile-header-buttons {
		justify-self: center;
	}
}

@media screen and (max-width: 500px) {
	body > header {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto auto;
		grid-template-areas: "logo profile"
		"button button"
		"search search";

		background: var(--colour-fill-header);
	}

	#a-writereview {
		margin: 0 1em;
	}
}

@media screen and (max-width: 355px) {
	#profile-header-buttons {
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: 1fr 1fr;

		column-gap: 1em;
	}
}
